{% extends 'base.html.twig' %}

{% block title %}Hello RegionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Region - {{ region.libelle }} </h1>

    Visiteurs : 
    <ul>
        {% for visiteur in visiteurs %} 
            <li>
                <a href = "{{ path ('visiteur', {id: visiteur[0].id })   }} " >{{ visiteur[0].nom ~ " " ~ visiteur[0].prenom }}</a> {{ visiteur[1] }}
            </li>
        {% else  %} Il n'y a pas de visiteurs
        {% endfor %}
     </ul>

    {{ form_start(form) }}
  {#  {{ form_row(form.libelle) }}#}
    {{ form_end(form) }}

      <p> <a href = "{{ path ('app_region')   }} " >Liste des regions</a></p>   
 </div>
{% endblock %}
